@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
  text-align: center;
  transition: 0.4s;
}

#aya {
  font-family: "Amiri", serif;
  font-size: 22px;
  position: absolute;
  width: fit-content;
  top: 30%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  line-height: 40px;
  word-spacing: 4px;
}

#times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

#date {
  position: absolute;
  top: 2%;
  right: 5%;
  text-align: right;
}

.date {
  text-align: left;
  font-size: 18px;
  font-weight: 1600;
  margin: 0%;
}

.tarekh {
  text-align: right;
  font-size: 18px;
  font-weight: 1600;
  margin: 0%;
}

#month {
  position: absolute;
  top: 2%;
  left: 5%;
  text-align: right;
}

.times {
  text-align: left;
  font-size: 1em;
  width: max-content;
  margin: 20px;
}

.awqat {
  text-align: right;
  font-size: 1em;
  width: max-content;
  margin: 20px;
}

#theme {
  cursor: pointer;
  position: absolute;
  padding: 0%;
  z-index: 999;
  bottom: 1%;
  left: 2%;
  background: none;
  font-family: "cairo", sans-serif;
  width: 18px;
  height: 18px;
  border: none;
}

.times-buttons {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
}

.yesterday-tomorrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: black;
  cursor: pointer;
  border: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.2s;
}

.yesterday-tomorrow:hover {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  margin-left: 12px;
}

.btn-icon {
  width: 15px;
  height: 15px;
}

#lang {
  font-family: "Scheherazade", serif;
  padding: 0%;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
  z-index: 200;
  position: absolute;
  bottom: 1%;
  left: 6%;
  margin: 0%;
  width: 24px;
  height: 18px;
  border: none;
}

img {
  width: 18px;
  height: 18px;
}

footer {
  font-size: 15px;
  position: absolute;
  width: 100%;
  bottom: 0%;
}

.footerText {
  position: static;
  padding: 0%;
  margin: 0%;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  transition: 0.4s;
}

@media only screen and (max-width: 800px) {
  #aya {
    line-height: unset;
    top: 25%;
    width: 70%;
    height: 15vh;
    font-size: 15px;
  }
  .tarekh,
  .date {
    font-size: 16px;
  }
  #times {
    top: 60%;
    flex-direction: column-reverse;
  }
  footer {
    font-size: 10px;
  }
  .footerText {
    position: static;
  }
  #lang {
    left: 10%;
  }
  .awqat,
  .times {
    font-size: 14px;
    margin: 8px;
    width: unset;
  }
}

@media only screen and (max-width: 440px) {
  footer {
    font-size: 8px;
  }
  .footerText {
    position: absolute;
    left: 20%;
    bottom: 0%;
  }
}
